<br>
  <div class="kcl">
  <br>
    一日の摂取カロリー
  <br>
    <input type="tel" id =kcl>kcl
  </div>
<br>

  <div class="carbo">
  <br>
    摂取炭水化物
  <br>
    <input type="tel" id = carbo>g
  </div>


<br>
  <div class="protein">
  <br>
    摂取タンパク質
  <br>
    <input type="tel" id = protein>g
  </div>
<br>

<div class="lipid">
  <br>
    摂取脂質
  <br>
    <input type="tel" id = lipid>g
  </div>
<br>