<br>
  <div class=sex>
    <div class = man>
      <label for="man">
        <input type="radio" name="sex" id="man"> 男性
      </label>
    </div>
    <div class = woman>
      <label for="woman">
        <input type="radio" name="sex"id="woman"> 女性
      </label>
    </div>
  </div>
<br>
  <div class="age">
    年齢
    <input type="tel" id = age>
    <br>
    (歳)
  </div>
<br>
<br>
  <div class="tall">
    身長
    <input type="tel" id = tall>
    (cm)
  </div>
<br>
<br>
  <div class="weight">
    体重
    <input type="tel" id = weight>
    (kg)
  </div>
<br>
<br>
<div class="btn">
  <input type="button" value=計算 id = button>
  <input type="reset" value=リセット id = reset>
</div>
