<div class= show-wrapper>
  <div class= show-said>
    <div class= macro>
    </div>
    <div class = hyouzi>
    </div>
  </div>
  <div class= show-main>
    <div class = show-input>
      <div class="weight">
      体重
        <input type="tel" name = weight id = weight>
      (kg)
      </div>
      <div class="btn">
        <input type="button" name = button value=計算 id = button>
      </div>
    </div>
  </div>
</div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "#"  %>  
  <%# <%= link_to "新規投稿", "#", class: "#" %>  
